@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Websockets</h1>



    <form>

        <div class="row">
            <div class="form-group col-md-6">
                <label htmlFor="product">Item</label>
                <input type="text"
                       id="product"
                       class="form-control"
                       value="Laptop" />
            </div>

        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <label htmlFor="quantity">Quantity</label>
                <input type="text"
                       id="quantity"
                       class="form-control"
                       value="1" />
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 mt-4">
                <button id="submit" type="submit" class="btn btn-primary">
                    Buy something
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 mt-4">
                <div id="status"></div>
            </div>
        </div>
    </form>


    <script>


        listen = (orderId) => {
            const socket = new WebSocket(`ws://localhost:5120/api/Orders/${orderId}`);

            socket.onmessage = event => {
                const statusDiv = document.getElementById("status");
                statusDiv.innerHTML = JSON.parse(event.data);
            };
        }
 



        document.getElementById("submit").addEventListener("click", e => {
            e.preventDefault();

            const product = document.getElementById("product").value;
            const quantity = document.getElementById("quantity").value;

                fetch("/api/Orders",
                {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify( { product, quantity } )
                })
                .then(response => response.text())
                .then(orderId => listen( orderId));
        });


    </script>
</div>
